* {
  margin:0;
  padding:0;
  text-decoration: none;
}

.navbar {
  height:9rem;
  width:100%;
  background-color: beige;
  border:#7e7 1px solid;
}

.navbar div {
  display:inline-block;
}


#searchbar {
  border:#7e7 solid 1px;
  height:2.5rem;
  width:40rem;
  font-size:20px;
  margin-top:-1em;
}

.navleft, .navright {
  font-size:16px;
  height:2.5rem;
  position:relative;
  top:2.5rem;
  width:auto;
}

.navleft {
  margin-right:1rem;
}

.navright {
  float:right;
  margin-right:1em;
}

#button {
  height:auto;
}

.img {
  margin:2rem 1rem 0 0;
}

.microphone {
  position:relative;
  top:-1.4rem;
  left:-2.5rem;
}

.toprightupper {
  /*margin-left:16rem;*/
  position:relative;
  left:22rem;
}

.topright {
  float:right;
  margin-left:1rem;
}
