* {
  margin:0;
  padding: 0;

}

li {
  list-style-type:none;
  text-decoration:none;
}

.topright {
  height: 4rem;
  width:auto;
  margin:1rem 1.5rem ;
}

.topright li {
  float:right;
  margin:3px;
  text-align:center;
  line-height:100%;
}

#logo {
  display:block;
  margin: 8rem auto 1rem auto;
}

#searchbar {
  display:block;
  width:34rem;
  height:3rem;
  margin:0 auto;
}

#searchbarinner {
  height:2.5rem;
  width:30rem;
  font-size:24px;
  border:solid #f9f3f3 2px;
  outline: none;/*required to "not" highlight the text box*/
}

#search-button {
  display:inline-block;
  position:relative;
  vertical-align: middle;
  float:right;
  right:3rem;
  height:2.5rem;
  width:3rem;
  background: url("/home/teibok/Pictures/Screenshot from 2017-05-30 16-56-18.png") no-repeat center center;
}

.belowsearchbar {
  display:inline-block;
  height:0.7rem;
  padding:1rem 0;
  margin-left:25rem;
  margin-bottom:5rem;
}

.belowsearchbar button {
  display:inline-block;
  height:2rem;
  width:15rem;
  font-size:16px;
  font-weight:bold;
}

.left li, .right li {
  display:inline-block;
  margin:3rem 0 1rem 1rem;
}

.left li {
  float:left;
}

.right li {
  float:right;
}
